@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap);

body {
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 1.7;
    color: #fff;
    font-weight: 400
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
    font-weight: 600
}

p {
    letter-spacing: 0;
    line-height: 1.8
}

a {
    text-decoration: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}a

a:focus {
    outline: 0;
    text-decoration: none
}

li,
ul {
    margin: 0;
    padding: 0
}

img {
    max-width: 100%;
    height: auto
}

.section-padding {
    padding: 60px 0
}

.line {
    background-color: #fff;
    content: '';
    display: block;
    height: 4px;
    left: 0;
    margin: 0 auto 0 auto;
    position: relative;
    right: 0;
    width: 85px;
    background: #f5ae51;
    margin-bottom: 30px
}

.line:after,
.line:before {
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: ani-line;
    -webkit-animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: ani-line;
    animation-timing-function: linear;
    background-color: #101010;
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 4px
}

.line:before {
    left: 8px
}

.line:after {
    left: 0
}

@keyframes ani-line {
    from {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    to {
        -webkit-transform: translateX(75px);
        transform: translateX(75px)
    }
}

.section-title {
    font-size: 35px;
    text-transform: uppercase
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10
}

.navbar-light .navbar-brand {
    color: #f5ae51;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 28px
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #f5ae51
}

.navbar {
    background: #000 !important;
    padding: 10px
}

.navbar-brand img {
    height: 40px;
    padding-left: 20px
}

.navbar-nav li {
    padding: 0 10px
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left
}

.navbar-nav li a:hover {
    color: #f5ae51 !important
}

.fa-bars {
    color: #fff;
    font-size: 30px
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
    outline: 0 !important
}

#banner {
    color: #fff;
    background-image: url(../img/bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: top center;
    height: 100vh
}

.promo-title {
    font-size: 40px;
    font-weight: 600
}

.play-btn {
    width: 45px;
    margin: 20px
}

.banner-left {
    padding: 200px 0;
    text-align: center
}

.banner-left h1 {
    color: #f5ae51;
    font-size: 50px;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900
}

.banner-left h3 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px
}

.ah-headline.clip .ah-words-wrapper::after {
    background-color: #fff
}

#about {
    background: #000
}

.about-text-left h2 {
    font-weight: 700;
    font-size: 36px;
    color: #f5ae51;
    line-height: 1;
    margin-bottom: 5px
}

.about-text-left h3 {
    color: #ddd;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 18px;
    margin-top: 18px
}

.about-text-left p {
    font-size: 13px;
    color: #fff;
    margin-bottom: 50px
}

.about-text-left a {
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    background: #f5ae51;
    padding: 15px;
    text-decoration: none
}

.about-text-left {
    margin-top: 90px
}

.about-text-left p {
    font-size: 15px;
    color: #fff;
    margin-bottom: 50px
}

#services {
    background: #000
}

.services-img {
    width: 100px;
    margin-top: 20px
}

.single-services {
    padding: 30px
}

.single-services h4 {
    padding: 5px;
    margin-top: 25px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px
}

.single-services p {
    color: #fff
}

.service-icon {
    display: inline-block;
    vertical-align: middle;
    height: 64px;
    width: 64px;
    position: relative;
    overflow: hidden
}

.service-icon span {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
    font-size: 48px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    display: inline-block;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    color: #47bb8f
}

.service-icon span i {
    color: #f5ae51
}

.service-icon span img {
    max-height: 100%;
    max-width: 100%
}

.service-icon span:first-child {
    top: 50%
}

.service-icon span:last-child {
    top: 150%
}

.single-services:hover .service-icon span:first-child {
    top: -50%
}

.single-services:hover .service-icon span:last-child {
    top: 50%
}

#portfolio {
    background: #000
}

.project-item img {
    width: 100%
}

.overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    background: rgba(245, 174, 81, .9);
    opacity: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: crosshair;
    transform: scale(.6)
}

.overlay .overlay-inner {
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center
}

.overlay .overlay-inner h4 {
    color: #262626 !important;
    margin-bottom: 0 !important;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1px
}

.overlay .overlay-inner p {
    color: #262626;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
    margin-top: 10px
}

.project-item:hover .overlay .overlay-inner h4 {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.project-item:hover .overlay .overlay-inner p {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
}

.project-item a:hover .overlay {
    opacity: 1;
    transform: scale(1);
    transition: .8s
}

ul.port-nav-list {
    padding: 0 0 50px 0;
    list-style: none;
    text-align: center;
    margin-top: 25px
}

ul.port-nav-list li {
    display: inline-block;
    margin-right: 10px;
    background: #262626
}

ul.port-nav-list li a {
    display: block;
    cursor: pointer;
    color: #fff !important;
    font-size: 14px;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase
}

ul.port-nav-list li a.active {
    color: #000;
    border-color: #f5ae51;
    background: #f5ae51
}

ul.port-nav-list li:hover a.active {
    color: #000
}

.port-items {
    width: 100%;
    margin-left: 0;
    margin-right: 0
}

.portfolio-items .port-items .single-port {
    overflow: hidden;
    margin-bottom: 25px
}

.single-port {
    padding: 0
}

.testimonial-area {
    background: #000
}

.testimonial-carousel {
    width: 100%;
    max-width: 1200px;
    margin: 70px auto
}

.testimonials-wrapper {
    width: 95%;
    max-width: 500px;
    margin: 0 auto
}

.testimonials-wrapper h4 {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    position: relative;
    padding: 30px;
    color: #000;
    border-radius: 5px;
    background: #f5ae51;
    box-shadow: 5px 5px 5px 0 rgba(23, 23, 25, .3)
}

.testimonials-blob,
.testimonials-img {
    border-radius: 100%
}

.testimonials-img {
    position: relative;
    left: 50%;
    overflow: hidden !important;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: -50px;
    box-shadow: 0 0 0 5px #fff;
    transition: all ease-out .5s;
    transform: translateY(-30%);
    filter: brightness(2)
}

.testimonial-carousel .active .testimonials-img {
    transform: translateY(0);
    filter: brightness(1)
}

.testimonials-person-info {
    text-align: center;
    color: #fff
}

.testimonials-blob {
    position: relative;
    left: 80%;
    width: 3px;
    height: 3px;
    transform: rotate(45deg)
}

@keyframes anim {
    0% {
        opacity: 0;
        box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff
    }

    50% {
        box-shadow: 0 15px 0 0 #fff, 0 0 0 0 #fff
    }

    100% {
        opacity: 1;
        background: #fff;
        box-shadow: 0 15px 0 4px #fff, 0 35px 0 6px #fff
    }
}

.testimonial-carousel .active .testimonials-blob {
    transform-origin: 50% 50%;
    animation: anim linear .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
}

.testimonial-carousel {
    overflow: hidden;
    cursor: grab
}

.testimonial-carousel:active {
    cursor: grabbing
}

.testimonial-carousel .owl-item {
    overflow: hidden;
    transition: all ease-out .3s;
    transform: scale(.7);
    opacity: 0
}

.testimonial-carousel .owl-item.active {
    transform: scale(1);
    opacity: 1
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
    font-size: 14px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    padding: 0 10px;
    transition: all ease-out .25s;
    transform: translateY(-100%);
    opacity: 1;
    color: #fff;
    border-radius: 3px;
    background: 0 0;
    border: 0
}

.testimonial-carousel .owl-next:hover,
.testimonial-carousel .owl-prev:hover {
    color: #fff
}

.testimonial-carousel .owl-prev {
    left: 0
}

.testimonial-carousel .owl-next {
    right: 0
}

.testimonial-carousel .owl-next.disabled,
.testimonial-carousel .owl-prev.disabled {
    opacity: 0
}

.testimonial-area .fa.fa-chevron-right {
    color: #fff
}

.testimonial-area .fa.fa-chevron-left {
    color: #fff
}

.contact-area {
    background: #000
}

.contact-area h1 {
    text-align: center
}

.main_contact_info {
    margin-top: 50px
}

.single_info_text h3 {
    color: #f5ae51;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 20px
}

.single_info_text h4 {
    margin: 0;
    padding: 0
}

.single_info_text h4 {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-weight: 100
}

.single_contant_left {
    margin-top: 50px
}

#form_message {
    height: auto
}

.form-control {
    display: inline-block;
    height: 38px;
    padding: 10px 2px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 0 solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-bottom: 2px solid #ddd
}

.form-control:focus {
    border-color: #f5ae51 !important;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

form .btn.btn-lg {
    background: #e67e22;
    color: #fff;
    border-radius: 0;
    display: inline-block;
    margin-top: 30px
}

#contact-form .btn.btn-send {
    background: #f5ae51;
    color: #000;
    border-radius: 0;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 30px
}

.single_info_text {
    margin-bottom: 20px
}

.footer {
    background-color: #222;
    padding: 30px 0
}

.footer .copyright p {
    color: #ccc
}

.copyright a {
    color: #f5ae51
}